.vscode

code/test/__pycache__/test_split_events.cpython-310-pytest-7.1.2.pyc
code/__pycache__/*

geodata/DEM_Copernicus/*

images/*

metdata/celltracks/*
metdata/DWD_RR_data
metdata/opendata.dwd.de/*

code/test/__pycache__/test_rolling_window.cpython-310-pytest-7.1.2.pyc
