data/results_cells_*

data/DEM_Copernicus/*
data/DWD_RR_Stationen/10min_RR.*
data/DWD_RR_Stationen/10min_RR_SN.*
data/DWD_RR_Stationen/zehn_min_rr_Beschreibung_Stationen*
data/Terraincolors.qlr
data/Map_template.qpt

images/*

code/__pycache__/*
code/x.py